{% if menu %}
	<ul class="nav">
	{% for item in menu.items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{{ include("partial/menu.twig", {'menu': item.get_children}) }}
		</li>
	{% endfor %}
	</ul>
{% endif %}
